<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveContentFilter</key>
	<integer>2</integer>
	<key>ShowApplicationBadgeForUnseen</key>
	<true/>
	<key>VideoIsAlwaysLandscape</key>
	<false/>
	<key>AudioIsAlwaysPortrait</key>
	<false/>
	<key>EnabledBackgroundPlayback</key>
	<true/>
	<key>EnableCachingOver3G</key>
	<true/>
	<key>AutoCacheNewAudioEpisodes</key>
	<true/>
	<key>AutoCacheNewVideoEpisodes</key>
	<false/>
	<key>DirectoryThirdLanguageChoice</key>
	<string>none</string>
	<key>EpisodesSortOrder</key>
	<string>NewerFirst</string>
	<key>FeedSortOrder</key>
	<string>NewerFirst</string>
	<key>FeedShowOnlyLatestUnseen</key>
	<integer>200</integer>
	<key>UISoundEnabled</key>
	<true/>
	<key>PlayerShakeAction</key>
	<string>PlayerShakeActionNone</string>
	<key>ContinuousPlayback</key>
	<false/>
	<key>LinkDropBox</key>
	<true/>
	<key>DisableAutoLock</key>
	<false/>
	<key>PlayerSkipBackPeriod</key>
	<integer>30</integer>
	<key>PlayerSkipForwardPeriod</key>
	<integer>30</integer>
	<key>AutoClearWhenFinishedPlaying</key>
	<true/>
	<key>AutoClearWhenNewEpisodeDownloaded</key>
	<true/>
	<key>AutoClearWhenMarkAsPlayed</key>
	<true/>
	<key>EnableNewEpisodesNotification</key>
	<true/>
	<key>EnableRefreshFailureNotification</key>
	<false/>
	<key>PodcastRefreshOnAppStart</key>
	<false/>
	<key>EnableDownloadFinishedNotification</key>
	<true/>
	<key>ReplayAfterPause</key>
	<true/>
	<key>EnableDownloadsWaitingNotification</key>
	<true/>
	<key>EnableContinuePlayingNotification</key>
	<true/>
	<key>GroupEpisodes</key>
	<false/>
	<key>EnableDownloadPausedNotification</key>
	<false/>
	<key>DropBoxRootPath</key>
	<string>/Instacast</string>
	<key>AutoRefresh</key>
	<integer>2</integer>
	<key>EnableAutoRefreshOn3G</key>
	<true/>
	<key>EnableStreamingOver3G</key>
	<true/>
	<key>ReadLaterService</key>
	<string>None</string>
	<key>AllowSendingDiagnostics</key>
	<integer>2</integer>
	<key>AutoCacheOnlyNewEpisodes</key>
	<true/>
	<key>SmarthomeMQTTEnabled</key>
	<false/>
	<key>SmarthomeMQTTPort</key>
	<integer>1883</integer>
	<key>SmarthomeAllowControl</key>
	<true/>
	<key>AutoDownloadWhileStreaming</key>
	<true/>
	<key>ICiCloudSyncEpisodesEnabled</key>
	<false/>
	<key>ICiCloudSyncSubscriptionsEnabled</key>
	<false/>
	<key>ICiCloudSyncSettingsEnabled</key>
	<false/>
	<key>AmazonAffiliateEnabled</key>
	<true/>
</dict>
</plist>
